

@import './assets/Styles/_variables.scss';
@import './assets/Styles/_base.scss';
@import './assets/Styles/FeaturedBooks.scss';
@import './assets/Styles/Footer.scss';
@import './assets/Styles/Hero.scss';
@import './assets/Styles/Newsletter.scss';
@import './assets/Styles/Header.scss';
@import './assets/Styles/About.scss';
@import './assets/Styles/Reader.scss';
@import './assets/Styles/Author.scss';
@import './assets/Styles/DownloadApp.scss';
@import './assets/Styles/Genres.scss';
@import './assets/Styles/LatestArticles.scss';
@import './assets/Styles/ContactUs.scss';
